*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

/* -------------------main-------------------- */
header{
    position: relative;
}
header, nav{
    width: 100%;
    height: 10vh;
    /* background-color: blueviolet;   */
}

nav{
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 15vw;
    z-index: 99;
    background-color:#F6F3F0;
}

nav img{
    width: 10vw;
}
.ri-menu-line{
    font-size: 2vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vw 15vw;
    position: absolute;
    top: -100vh;
    gap: 10vw;
    width: 100%;
    height: 100vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    /* background-color: brown; */
}
.ri-close-fill{
    font-size: 2vw;
    display: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}
.cir-menu{
    width: 20vw;
    height: 20vw;
    background-image: url(https://images.unsplash.com/photo-1710170600419-9771180c5dc1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMHx8fGVufDB8fHx8fA%3D%3D);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}
.menu-link{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    
} 
.menu-link a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
    text-align: left;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    color: black;

}

#main{
    width: 100%;
    min-height: 100vh;
}
.main-heading{
    font-size: 3vw;
    width: 60%;
    text-align: center;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-flex-c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-section{
    height: 100vh;
    width: 100%;
    background-color:#F6F3F0;
    gap: 5vh;
}

.hero-section video{
    width: 80%;
    /* margin-bottom: 5%; */
}

/* ----------------------------second-------------------------- */

.second{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    background-color: #F6F5F1;
}
.second p{
    align-items: center;
    margin: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 1.3vw;
    color: rgb(139, 135, 135);
}



/* -------------------------threee------------------------- */

.three{
    width: 100%;
    height: 100vh;
    gap: 5vh;
    background-color: #F6F3F0;
}
.cards{
    width: 100%;
    height: 45vh;
    /* background-color: aquamarine; */
    gap: 2vw;
}
.cards h1{
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}
.card{
    width: 25vw;
    height: 100%;
    background-color: antiquewhite;
    gap: 4vh;
}
.card h1{
    font-size: 8vw;
}

.card p{
    font-weight: 100;
    color: rgb(110, 107, 107);

}

/* -----------------------------four------------------------- */
.four{
    width: 100%;
    height: 100vh;
    background-color:#F6F3F0;
    gap: 5vh;
}
.four p{
    font-size: 1vw;
    width: 50%;
    text-align: center;
}
.img-scr{
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    gap: 5vw;
}
.left-sec{
    width: 60%;
    height: 70vh;
    justify-content: start;
}
.right-sec{
    width: 40%;
    height: 100%;
    background-color: #F6F5F1;
    gap: 10vh;
    justify-content: start;
    padding: 10vh;
    overflow: auto;
}
.left-sec video{
    width: 100%;
    height: 100%;
}
.scroll-sec{
    width: 100%;
    align-items: start;
}
.scroll-sec p{
    width: 70%;
}
.main-heading{
    text-align: center;
}

@media (max-width: 500px) {
    .cards{
        flex-direction: column;
        height: 50vh;
        gap: 5vh;
    }
    .card{
        width: 50vw;
    }
    .card h1{
        font-size: 8vw;
    }
    .card p{
         font-size: 3vw;
    }
}